h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1.5em;
}
body {
    width: 70%;
    margin: auto;
}
h1 {
    font-size: 32px;
}
table, tr, th, td {
    border: 1px solid black;
}
figcaption {
    font-style: italic;
}
.img {
    float: right;
}
.indent {
    margin: 0 160px 0 40px;
}